*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'title';
    src: url(../fontes/BebasKai.ttf);
}

@font-face {
    font-family: 'text';
    src: url(../fontes/Quicksand_Book.otf);
}

body{
    width: 100%;
    background-color: #fdf2ecb7;
}

header{
    box-shadow: 0px 2px 20px 0px #2c7ff4af;
    background-color: #FAE8E0;
    width: 100%;
    height: 100px;
}

header img{
    box-shadow: 0px 4px 5px 0px #2c7ff4af;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
}

hr{
    margin: auto;
    width: 390px;
    background-color: #2C7EF4;
    height: 3.5px;
}

h1{
    font-size: 32px;
}

h2{
    font-family: 'title';
    color: #2C7EF4;
    font-size: 24px;
}

p{
    color: black;
    font-family: 'text';
}

h1, h3, h4, h5, h6{
    font-family: 'title';
    color: #2C7EF4;
    text-align: center;
}

#welcome{
    width: 400px;
    margin: auto;
}

#welcome p{
    font-family: 'text';
    text-align: center;
    color: #2C7EF4;
}

#p1{
    width: 370px;
    margin: auto;
}

#lasanha{
    display: inline-block;
    width: 140px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #2C7EF4;
    transition: all 0.9s;
}

span{
    font-size: 12px;
}

iframe{
    border-radius: 10px;
    border: 0.75 solid #2C7EF4;
    width: 200px;
    height: 120px;
    margin-right: 20px;
    display: inline-block;
}

#p1 img{
    top: 384px;
    left: 270px;
    border-radius: 10px;
    position: absolute;
}